
<footer>
    <div>
        <div class="footer-info">
            <div class="footer-content">
                <img src="@(ViewBag.RootNode)/Content/images/qccode.png" alt="">
                <div>
                    <div class="footer-box">
                        <i class="icon-tel"></i>
                        <span>公司电话:</span>
                        <span>023-86991113</span>
                    </div>
                    <div class="footer-box">
                        <i class="icon-email"></i>
                        <span>公司邮箱:</span>
                        <span>mtyxqzy@qq.com</span>
                    </div>
                    <div class="footer-box">
                        <i class="icon-address"></i>
                        <span>公司地址:</span>
                        <span>重庆市巴南区界石镇南溪绿郡B区1-7-1</span>
                    </div>
                </div>
            </div>
            <div style="text-align: center;">
                Copyright 2019 Inc. AllRights Reserved. Design by FreshMan 渝ICP备xxxxxx号-x
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript" src="@(ViewBag.RootNode)/Content/lib/handlebars/handlebars.min.js"></script>
<script type="text/javascript" src="@(ViewBag.RootNode)/Content/lib/iscroll/iscroll-probe.js"></script>
<script type="text/javascript" src="@(ViewBag.RootNode)/Content/lib/amazeui/amazeui.min.js"></script>
<script type="text/javascript" src="@(ViewBag.RootNode)/Content/lib/raty/jquery.raty.js"></script>
<script type="text/javascript" src="@(ViewBag.RootNode)/Content/js/main.js?t=1"></script>
