@using xyzs.model.DatabaseModel
@model List<xyzs.model.DatabaseModel.MaterialProductModel>

@{
    ViewBag.Title = "重庆晓杨建筑装饰工程有限公司-材料列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var productType = ViewBag.ProductType;
    var productTypeList = ViewBag.ProductTypeList == null ? null : (List<SysdictModel>)ViewBag.ProductTypeList;
    int page = ViewBag.Page;
    int pageCount = ViewBag.PageCount;
}
<section class="pro-list">
    <aside class="pro-leftsidebar">
        <ul>
            <li>
                <a>产品分类</a>
                <ul id="pro-category">
                    @if (productTypeList != null && productTypeList.Count > 0)
                    {
                        foreach (var sysdictModel in productTypeList)
                        {
                            <li class='@(sysdictModel.Id==productType?"on":"")'><a href="@Url.Action("ProductList","Home",new {productType=sysdictModel.Id})">@sysdictModel.Lable</a></li>
                        }
                    }
                </ul>
            </li>
        </ul>
    </aside>

    <aside class="pro-rightsidebar">
        <header>
            <p></p>
            <span>@(ViewBag.ProductTypeName)</span>
        </header>
        <ul id="Images">
            @if (Model != null && Model.Count > 0)
            {
                foreach (var materialProductModel in Model)
                {
                    <li>
                        <div class="img-box">
                            <img src="@(materialProductModel.ProductResourceUrl)" alt="@materialProductModel.ResourceRemark">
                            <p>@materialProductModel.ProductName</p>
                        </div>
                    </li>
                }
            }
        </ul>
        <div class="pro_list_more_pages">
            <ul>
                @if (pageCount > 0)
                {
                    if (page > 1)
                    {
                        <li><a href="@Url.Action("ProductList","Home",new {productType=productType,page=1})">首页</a></li>
                        <li><a href="@Url.Action("ProductList","Home",new {productType=productType,page=page-1})">上一页</a></li>
                    }
                    if (pageCount > 6)
                    {
                        var beginIndex = page - 3;
                        var endIndex = page + 2;
                        if (beginIndex < 1)
                        {
                            beginIndex = 1;
                            endIndex = beginIndex + 6;
                        }
                        if (endIndex > pageCount)
                        {
                            endIndex = pageCount;
                            beginIndex = endIndex - 6;
                        }
                        for (int i = beginIndex; i <= endIndex; i++)
                        {
                            if (page == i)
                            {
                                <li class="pro-list-current"><a>@(i)</a></li>
                            }
                            else
                            {
                                <li><a href="@Url.Action("ProductList","Home",new {productType=productType,page=i})">@(i)</a></li>
                            }
                        }
                    }
                    else
                    {
                        for (int i = 1; i <= pageCount; i++)
                        {
                            if (page == i)
                            {
                                <li class="pro-list-current"><a>@(i)</a></li>
                            }
                            else
                            {
                                <li><a href="@Url.Action("ProductList","Home",new {productType=productType,page=i})">@(i)</a></li>
                            }
                        }
                    }
                    if (page != pageCount)
                    {
                        <li><a href="@Url.Action("ProductList","Home",new {productType=productType,page=page+1})">下一页</a></li>
                        <li><a href="@Url.Action("ProductList","Home",new {productType=productType,page=pageCount})">尾页</a></li>
                    }
                }
            </ul>
        </div>
    </aside>
</section>
@section Script{
    <script src="@(ViewBag.RootNote)/Content/js/layer/layer.js"></script>
    <script language="javascript">
        layer.ready(function () {
            layer.photos({
                photos: '#Images'
            });
        });
    </script>
}